@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-primary: #ffa500;
  --color-secondary: #ff6d4c;
  --color-base-100: #0f0f0f;
  --color-text: #eeeeee;
  --color-text-gray: #878787;
}

body {
  font-family: "Roboto", sans-serif;
  /* font-family: "Roboto Mono", monospace; */
  background-color: var(--color-base-100);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}

a {
  color: var(--color-text-gray);
}
hr {
  border-color: var(--color-text-gray);
}

footer {
  left: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
  margin-top: 4rem;
}
/* footer::before {
  content: "";
  display: block;
  margin: 10px auto;
  width: 80%;
  height: 1px;
  background-color: var(--color-text);
}  */

section {
  margin-top: 6rem;
}
section h1 {
  color: var(--color-primary);
}

.hashtag {
  color: var(--color-secondary);
  font-weight: 900;
}
